@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&family=DM+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.title {
  color: rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 24px;
  margin: 32px 0px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.error {
  color: red;
}

@media (max-width: 1200px) {
  .container {
    max-width: 996px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 840px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 780px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }
}
